<section class="setting-page">
	<!-- Size -->
	<fieldset>
		<legend>Size</legend>
		<md-input-container>
			<label translate>Height</label>
			<input type="number" ng-model="ctrl.chart.height" ng-change="ctrl.chartChanged()">
		</md-input-container>
	</fieldset>

	<!-- Margin -->
	<fieldset>
		<legend>Margin</legend>
		<md-input-container>
			<label translate>Top</label>
			<input type="number" ng-model="ctrl.chart.margin.top" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Right</label>
			<input type="number" ng-model="ctrl.chart.margin.right" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Bottom</label>
			<input type="number" ng-model="ctrl.chart.margin.bottom" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Left</label>
			<input type="number" ng-model="ctrl.chart.margin.left" ng-change="ctrl.chartChanged()">
		</md-input-container>
	</fieldset>


	<!-- Legend -->
	<fieldset>
		<legend>Legend</legend>
		<md-input-container>
			<md-checkbox ng-model="ctrl.chart.legend.enable" ng-change="ctrl.chartChanged()">
				<span translate>Show Legend</span>
			</md-checkbox>
		</md-input-container>
		<md-input-container>
			<label translate>Position</label>
			<input type="text" ng-model="ctrl.chart.legend.position" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Top</label>
			<input type="number" ng-model="ctrl.chart.legend.margin.top" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Right</label>
			<input type="number" ng-model="ctrl.chart.legend.margin.right" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Bottom</label>
			<input type="number" ng-model="ctrl.chart.legend.margin.bottom" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Left</label>
			<input type="number" ng-model="ctrl.chart.legend.margin.left" ng-change="ctrl.chartChanged()">
		</md-input-container>
	</fieldset>

	<!-- X -->
	<fieldset>
		<legend>X-Axis</legend>
		<md-input-container>
			<label translate>Label</label>
			<input type="text" ng-model="ctrl.chart.x.label" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Format type</label>
			<input type="text" ng-model="ctrl.chart.x.format.type" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Format specifier</label>
			<input type="text" ng-model="ctrl.chart.x.format.specifier" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Rotate Labels</label>
			<input type="number" ng-model="ctrl.chart.x.rotateLabels" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<md-checkbox ng-model="ctrl.chart.x.showMaxMin" ng-change="ctrl.chartChanged()">
				<span translate>Show Min and Max</span>
			</md-checkbox>
		</md-input-container>
		<md-input-container>
				<md-checkbox ng-model="ctrl.chart.x.isAdjusted" ng-change="ctrl.chartXAdjustedChanged()">
					<span translate>Adjusted Values?</span>
				</md-checkbox>
			</md-input-container>
	</fieldset>

	<!-- Y -->
	<fieldset>
		<legend>Y-Axis</legend>
		<md-input-container>
			<label translate>Label</label>
			<input type="text" ng-model="ctrl.chart.y.label" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Format type</label>
			<input type="text" ng-model="ctrl.chart.y.format.type" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Format specifier</label>
			<input type="text" ng-model="ctrl.chart.y.format.specifier" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Rotate Labels</label>
			<input type="text" ng-model="ctrl.chart.y.rotateLabels" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Y1-min</label>
			<input type="text" ng-model="ctrl.chart.y.min" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate="">Y1-max</label>
			<input type="text" ng-model="ctrl.chart.y.max" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<md-checkbox ng-model="ctrl.chart.y.showMaxMin" ng-change="ctrl.chartChanged()">
				<span translate>Show Min and Max</span>
			</md-checkbox>
		</md-input-container>
	</fieldset>

	<!-- Y2 -->
	<fieldset>
		<legend>Y2-Axis</legend>
		<md-input-container>
			<label translate>Label</label>
			<input type="text" ng-model="ctrl.chart.y2.label" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Format type</label>
			<input type="text" ng-model="ctrl.chart.y2.format.type" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Format specifier</label>
			<input type="text" ng-model="ctrl.chart.y2.format.specifier" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Rotate Labels</label>
			<input type="text" ng-model="ctrl.chart.y2.rotateLabels" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate>Y2-min</label>
			<input type="text" ng-model="ctrl.chart.y2.min" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<label translate="">Y2-max</label>
			<input type="text" ng-model="ctrl.chart.y2.max" ng-change="ctrl.chartChanged()">
		</md-input-container>
		<md-input-container>
			<md-checkbox ng-model="ctrl.chart.y2.showMaxMin" ng-change="ctrl.chartChanged()">
				<span translate>Show Min and Max</span>
			</md-checkbox>
		</md-input-container>
	</fieldset>
</section>