<section class="setting-page">

	<fieldset ng-repeat="query in ctrl.queries track by $index">
		<legend><span translate>Query</span>&nbsp;{{$index+1}}</legend>

		<md-switch ng-model="query.useAsContext" ng-change="ctrl.queryChanged()" aria-label="Use query as context">
			<span translate>Preproccessing query (not visualized)</span>
		</md-switch>

		<md-input-container>
			<label translate>Title</label>
			<input type="text" aria-label="Query title" ng-model="query.title" ng-model-options="{updateOn : 'change'}"
			 ng-change="ctrl.queryChanged()">
			</textarea>
		</md-input-container>

		<md-input-container>
			<label translate>URL</label>
			<input type="text" aria-label="Query url" ng-model="query.url" ng-model-options="{updateOn : 'change'}" ng-change="ctrl.queryChanged()">
			</textarea>
		</md-input-container>

		<md-input-container ng-hide="query.useAsContext">
			<label translate>Index attribute</label>
			<input type="text" aria-label="Query index value" ng-model="query.index" ng-model-options="{updateOn : 'change'}"
			 ng-change="ctrl.queryChanged()">
			</textarea>
		</md-input-container>

		<md-input-container class="setting-control-wide">
			<label translate>Query</label>
			<textarea type="text" aria-label="Query SQL" rows="2" ng-model="query.sql" ng-model-options="{updateOn : 'change'}"
			 ng-change="ctrl.queryChanged()">
		</textarea>
		</md-input-container>

		<!--TODO: support multi find/replace section -->
		<fieldset ng-hide="query.useAsContext">
			<legend translate>Automatic Replacers</legend>
			<md-input-container>
				<label translate>Find</label>
				<input type="text" aria-label="Query title" ng-model="query.autoFind" ng-model-options="{updateOn : 'change'}"
				 ng-change="ctrl.queryChanged()">
				</textarea>
			</md-input-container>
			<md-input-container>
				<label translate>Replace</label>
				<input type="text" aria-label="Query title" ng-model="query.autoReplace" ng-model-options="{updateOn : 'change'}"
				 ng-change="ctrl.queryChanged()">
				</textarea>
			</md-input-container>
		</fieldset>

		<md-input-container ng-hide="query.useAsContext">
			<md-checkbox ng-model="query.visible" ng-change="ctrl.queryChanged()" aria-label="Visible">
				<span translate>Visible</span>
			</md-checkbox>
		</md-input-container>

		<div layout="row">
			<span flex></span>
			<md-button class="md-warn" ng-click="ctrl.removeQuery($index)">
				<span translate>Delete</span>
			</md-button>
		</div>

	</fieldset>

	<div layout="row">
		<span flex></span>
		<md-button class="md-fab md-mini md-primary wb-util-compact" ng-click="ctrl.addNewQuery()">
			<wb-icon>add</wb-icon>
		</md-button>
	</div>

</section>