<md-dialog 
    layout="column"
    ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<wb-icon>settings</wb-icon>
			<h2 translate>Variables</h2>
			<span flex></span>
			<md-input-container>
				<md-select 
					ng-model="ctrl.currentVariableSet" 
					ng-change="ctrl.setCurrentVariableSet(ctrl.currentVariableSet)"
					md-selected-text="{{item.title}}">
					<md-option 
						ng-repeat="item in ctrl.variableSets track by $index" 
						ng-value="item">{{item.title}}</md-option>
				</md-select>
			</md-input-container>
		</div>
	</md-toolbar>
	<md-dialog-content 
		layout="column" 
		flex>
		<div
			class="md-whiteframe-2dp"
			layout="row">
			<md-input-container>
				<input 
					ng-model="ctrl.currentVariableSet.title" 
					ng-change="ctrl.updateVariableSet(ctrl.currentVariableSet)">
			</md-input-container>
		</div>
		<md-content>
			<table
				style="width: 100%">
				<thead>
					<tr>
						<th></th>
						<th>Key</th>
						<th>Value</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in ctrl.currentVariableSet.items track by $index">
						<td>
							<md-checkbox
								ng-model="item.active"
								aria-label="Active the variable">
							</md-checkbox>
						</td>
						<td>
							<md-input-container>
								<input ng-model="item.key">
							</md-input-container>
						</td>
						<td>
							<md-input-container>
								<input ng-model="item.value">
							</md-input-container>
						</td>
						<td>
							<md-button 
								ng-click="ctrl.deleteVariable(ctrl.currentVariableSet, $index)"
								class="md-icon-button" 
								aria-label="Delete the variable">
								<wb-icon>delete</wb-icon>
							</md-button>
						</td>
					</tr>
				</tbody>
			</table>
			<div
				layout="row">
				<md-button
					ng-click="ctrl.addVariable(ctrl.currentVariableSet, {active: true})">
					Add
				</md-button>
			</div>
		</md-content>
	</md-dialog-content>
</md-dialog>
